.expertise-container10 {
  width: 100%;
  display: block;
  min-height: 100vh;
}
 
.expertise-text10 {
  font-weight: 700;
}
 
.expertise-text12 {
  font-weight: 700;
}
 
.expertise-text14 {
  font-weight: 700;
}
 
.expertise-container11 {
  display: none;
}
 
.expertise-container12 {
  display: contents;
}
 
.expertise-container13 {
  display: none;
}
 
.expertise-container14 {
  display: contents;
}
 
.expertise-text16 {
  font-weight: 700;
}
 
.expertise-text18 {
  font-weight: 700;
}
 
.expertise-text20 {
  font-weight: 700;
}
 
.expertise-container15 {
  display: none;
}
 
.expertise-container16 {
  display: contents;
}
 
.expertise-container17 {
  display: none;
}
 
.expertise-container18 {
  display: contents;
}
 
.expertise-thq-hero-scroll-indicator-elm {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
 
.expertise-container19 {
  display: none;
}
 
.expertise-container20 {
  display: contents;
}
